/*Mobile design anything smaller than 600px*/

.container {
    width: 800px;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    background-color: white;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px;
    box-shadow: 3px 3px 5px 6px rgb(197, 196, 196);
    border-radius: 10px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px repeat(3, 200px) 25px;
    grid-template-areas:
    "hd hd"
    "card1 card2"
    "card3 card4"
    "card5 card6"
    "footer footer";
} 

.box {
    padding: 10px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.header {
    grid-area: hd;
    justify-self: center;
    text-decoration: underline;
}
.card1 {
    grid-area: card1;
    /*border: 1px solid red;*/ /* */
   /* -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
    box-shadow: 3px 3px 5px 2px rgb(190, 187, 187);
}
.card2 {
    grid-area: card2;
    border: 1px solid blue;
    /* -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
    box-shadow: 3px 3px 5px rgb(6, 4, 97);
}
.card3 {
    grid-area: card3;
    border: 1px solid rgb(48, 5, 48);
    /* -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
    box-shadow: 3px 3px 5px rgb(164, 81, 212);
    
}
.card4 {
    grid-area: card4;
    border: 1px solid yellow;
    /* -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
    box-shadow: 3px 3px 5px rgb(164, 167, 16);
}
.card5 {
    grid-area: card5;
    border: 1px solid green;
    /* -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
    box-shadow: 3px 3px 5px rgb(15, 117, 20);
}
.card6 {
    grid-area: card6;
    border: 1px solid brown;
    /* -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
    box-shadow: 3px 3px 5px rgb(112, 60, 29);
}

.footer {
    padding: 3px;
    grid-area: footer;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}