/*Mobile design anything smaller than 600px*/

.container {
    border: 3px solid black;
    width: 65vw;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
    "hd hd"
    "card1 card2"
    "card3 card4"
    "card5 card6";
} 

.box {
    border: 1px solid black;
}

.header {
    grid-area: hd;
}

.card1 {
    grid-area: card1;
    border: 1px solid red;
}
.card2 {
    grid-area: card2;
    border: 1px solid blue;
}
.card3 {
    grid-area: card3;
    border: 1px solid purple;
}
.card4 {
    grid-area: card4;
    border: 1px solid yellow;
}
.card5 {
    grid-area: card5;
    border: 1px solid green;
}
.card6 {
    grid-area: card6;
    border: 1px solid brown;
}